
@{
    ViewBag.Title = "Home Page";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>HomeCare</title>    
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/Scripts/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/Scripts/css/style.css">
</head>
<body>
    <!-- header section start -->
    <div class="header_section">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="logo"><a href=""><img src="~/Scripts/icons/clinical-dark.png"><h3>Clinical Automation System</h3></a></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-link">@Html.ActionLink("Patients", "PatientLogin", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-link">@Html.ActionLink("Doctor", "DoctorLogin", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-link">@Html.ActionLink("Front Office Executives", "FrontOfficeLogin", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-link">@Html.ActionLink("Pharmacists", "PharmacistsLogin", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-link">@Html.ActionLink("Admin", "AdminLogin", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </nav>
        
        <!-- header section end -->
        <!-- banner section start -->
        <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="banner_section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h1 class="banner_taital">Health <br><span style="color: #151515;">Care</span></h1>
                                    <p class="banner_text">We are here for your Health </p>
                                    <div class="btn_main">
                                        <div class="more_bt"><a href="@Url.Action("PatientLogin", "Home")">Meet Doctor</a></div>
                                        <div class="contact_bt"><a href="#">Contact Us</a></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="image_1"><img src="~/Scripts/images/img-1.png"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- banner section end -->
        <!-- health section start -->
        <div class="health_section layout_padding">
            <div class="container">
                <h1 class="health_taital">Best Of Health care for you</h1>
                <p class="health_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
                <div class="health_section layout_padding">
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="image_main">
                                <div class="main">
                                    <img src="~/Scripts/images/img-2.png" alt="Avatar" class="image" style="width:100%">
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="image_main_1">
                                <div class="main">
                                    <img src="~/Scripts/images/family.png" alt="Avatar" class="image" style="width:100%;">
                                </div>

                            </div>
                        </div>
                    @*</div>
                    <div class="getquote_bt_1"><a href="#">Read More <span><img src="~/Scripts/images/right-arrow.png"></span></a></div>
                </div>*@
            </div>
        </div>
                </div>
        <!-- health section end -->
        <!-- knowledge section end -->
        <div class="knowledge_section layout_padding">
            <div class="container">
                <div class="knowledge_main">
                    <div class="left_main">
                        <h1 class="knowledge_taital">Share your Health Problems with the Doctor</h1>
                        <p class="knowledge_text">Your journey to wellness commences with us at Clinical Automation System, where we pledge to make your success our relentless mission, guiding you towards a healthier and more prosperous life</p>
                    </div>
                    @* <div class="right_main">
                        <div class="play_icon"><a href="#"><img src="~/Scripts/images/play-icon.png"></a></div>
                    </div>*@
                </div>
            </div>
        </div>
        <!-- knowledge section end -->
        <!-- news section start -->
        <div class="news_section layout_padding">
            <div class="container">
                <h1 class="health_taital">Why choose 24hr home care</h1>
                <p class="health_text">Family members can have peace of mind knowing their loved one is not alone and has the attention of a trained caregiver </p>
                <div class="news_section_2 layout_padding">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6">
                            <div class="box_main">
                                <div class="icon_1"><img src="~/Scripts/images/icon-2.png"></div>
                                <h4 class="daily_text">Daily care experts</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="box_main active">
                                <div class="icon_1"><img src="~/Scripts/images/icon-3.png"></div>
                                <h4 class="daily_text_1">Available 24/7</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="box_main">
                                <div class="icon_1"><img src="~/Scripts/images/icon-4.png"></div>
                                <h4 class="daily_text_1">Balanced care</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="getquote_bt"><a href="#">Meet Us <span><img src="~/Scripts/images/right-arrow.png"></span></a></div>
            </div>
        </div>
        <!-- news section end -->
        <!-- contact section start -->
        <div class="contact_section layout_padding">
            <div class="container">
                <h1 class="contact_taital">What we do</h1>
                <div class="news_section_2">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="icon_main">
                                <div class="icon_7"><img src="~/Scripts/images/icon-7.png"></div>
                                <h4 class="diabetes_text">Cardiology and Pychologist</h4>
                            </div>

                            <div class="icon_main">
                                <div class="icon_7"><img src="~/Scripts/images/icon-5.png"></div>
                                <h4 class="diabetes_text">Neurologist and Gynecology</h4>
                            </div>

                            <div class="icon_main">
                                <div class="icon_7"><img src="~/Scripts/images/icon-6.png"></div>
                                <h4 class="diabetes_text">Surgical and medical Oncology</h4>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="image_main_1">
                                <div class="main">
                                    <img src="~/Scripts/images/doctor.png" alt="Avatar" class="image" style="width:100%;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- contact section end -->
        <!-- client section start -->
        <div class="client_section layout_padding">
            <div id="my_slider" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container">
                            <h1 class="client_taital">What People Say</h1>
                            <p class="client_text">It is a long established fact that a reader will be distracted </p>
                            <div class="client_section_2">
                                <div class="client_left">
                                    <div><img src="~/Scripts/images/client-img.png" class="client_img"></div>
                                </div>
                                <div class="client_right">
                                    <h3 class="distracted_text">Distracted by</h3>
                                    <p class="lorem_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
                                    <div class="quote_icon"><img src="~/Scripts/images/quote-icon.png"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <h1 class="client_taital">What People Say</h1>
                            <p class="client_text">It is a long established fact that a reader will be distracted </p>
                            <div class="client_section_2">
                                <div class="client_left">
                                    <div><img src="~/Scripts/images/client-img.png" class="client_img"></div>
                                </div>
                                <div class="client_right">
                                    <h3 class="distracted_text">Distracted by</h3>
                                    <p class="lorem_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
                                    <div class="quote_icon"><img src="~/Scripts/images/quote-icon.png"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <h1 class="client_taital">What People Say</h1>
                            <p class="client_text">It is a long established fact that a reader will be distracted </p>
                            <div class="client_section_2">
                                <div class="client_left">
                                    <div><img src="~/Scripts/images/client-img.png" class="client_img"></div>
                                </div>
                                <div class="client_right">
                                    <h3 class="distracted_text">Distracted by</h3>
                                    <p class="lorem_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
                                    <div class="quote_icon"><img src="~/Scripts/images/quote-icon.png"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- client section end -->
    <!-- footer section start -->
</div>
        <div class="footer_section layout_padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        @* <div class="footer_logo"><a href="index.html"><img src="~/Scripts/icons/clinical.png"></a></div>*@
                        <h1 class="adderss_text">Contact Us</h1>
                        <div class="map_icon"><img src="~/Scripts/images/map-icon.png"><span class="paddlin_left_0">Pune, Maharashtra</span></div>
                        <div class="map_icon"><img src="~/Scripts/images/call-icon.png"><span class="paddlin_left_0">+91-9876543211</span></div>
                        <div class="map_icon"><img src="~/Scripts/images/mail-icon.png"><span class="paddlin_left_0">CASTeam@gmail.com</span></div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <h1 class="adderss_text">Doctors</h1>
                        <div class="hiphop_text_1">
                            <p>Cardiologist</p>
                            <p>Neurologist</p>
                            <p>Gynaecologists</p>
                            <p>Dermotologist</p>
                            <p>Phychiatrists</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <h1 class="adderss_text">Useful Links</h1>
                        <div class="Useful_text">
                            <a href="https://www.who.int/" style="color:white;"> World Health Organization</a>
                            <a href="https://www.healthline.com/" style="color:white;"> Health Line</a>
                            <a href="https://www.webmd.com/" style="color:white;"> WebMd A-Z Info</a>
                            <a href="https://my.clevelandclinic.org/" style="color:white;"> CleverlandClinic</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <h1 class="adderss_text">Newsletter</h1>
                        <input type="text" class="Enter_text" placeholder="Enter your Emil" name="Enter your Email">
                        <div class="subscribe_bt"><a href="#">Subscribe</a></div>
                        <div class="social_icon">
                            <ul>
                                <li><a href="#"><img src="~/Scripts/images/fb-icon.png"></a></li>
                                <li><a href="#"><img src="~/Scripts/images/twitter-icon.png"></a></li>
                                <li><a href="#"><img src="~/Scripts/images/linkedin-icon.png"></a></li>
                                <li><a href="#"><img src="~/Scripts/images/instagram-icon.png"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
    <!-- footer section end -->
    <!-- copyright section start -->
    <div class="copyright_section">
        <div class="container">
            <p class="copyright_text">2024 All Rights Reserved. Design by CAS Team</a></p>
        </div>
    </div>
    <!-- copyright section end -->
    <!-- Javascript files-->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/plugin.js"></script>
    <!-- sidebar -->
    <script src="~/Scripts/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <!-- javascript -->
    <script src="~/Scripts/owl.carousel.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
        <script>
            function scrollToFooter() {
                // Get the footer element
                var footer = document.getElementById('foots');

                // Use smooth scrolling to scroll to the footer
                footer.scrollIntoView({ behavior: 'smooth' });
            }
        </script>

</body>

</html>


